/* ESERCIZIO 1 */

html        { height: 100%; width: 100%; }
body      { width: 600px; position: relative; margin: 0 auto; z-index: 1; }
table       { margin-top: 40px; }
table th,
table td   { font-size: 14px; padding: 4px 10px 4px 10px; }